.categories-list {
    display: flex;
    flex-flow: wrap;
}

.category-component {
    margin: 16px;
}

.form-style {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.no-result-advice {
    margin-top: 16px;
}